*{
   box-sizing: border-box;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: normal;
}
body{
    background: rgb(66,66,66);
    background: linear-gradient(0deg, rgba(66,66,66,1) 0%, rgba(40,40,40,1) 100%);
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #3f3f3f;
    min-width: 100vh;
    min-height: 5vh;
    display: flex;
    z-index: 1;
}
    .badge{
        margin: 10px 15px 10px 15px;
        min-width: 10vw;
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #fc815b;
        border-radius: 10px;
        user-select: none;
    }
    .navbar-buttons{
        display: flex;
        justify-content: left;
        min-width: 25vw;
    }
    .navbar-button-container{
        padding: 10px 0 10px 0;
    }
    .navbar-buttons button{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        border-radius: 5px;
        overflow: hidden;
    }
    .dropdown-content button{
        color: white;
        padding: 12px 16px;
        display: block;
        font-size: 13px;
        width: 160px;
        height: 0%;
        text-align: left;
    }
    .dropdown-content button:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.25);
    }
    .dropdown:hover{
        background-color: rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    .dropdown{
        position: relative;
        display: inline-block;
    }
.content-container{
    display: flex;
    min-height: 95vh;
}
    .visualization{
        flex-grow: 1;
        overflow-y: auto;
    }
    .vis{
        display: none;
        height: 95vh;
    }
    .vis-open{
        display: block;
    }
    .settings-panel-toggle-container{
        display: flex;
        min-height: 95vh;
        width: 45px;
    }
    .settings-panel-toggle{
        display: flex;
        height: 40px;
        flex-shrink: 0;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        color: white;
        align-items: center;
        justify-content: center;
        font-size: 35px;
    }
    .settings-panel-toggle:hover{
        color: #fc815b;
    }
    .sp-icon-open{
        display: none;
    }
    .settings-panel-closed .settings-panel{
        width: 0vw;
        transition: width, 0.5s;
    }
    .settings-panel-closed .sp-icon-open{
        display: initial;
    }
    .settings-panel-closed .sp-icon-close{
        display: none;
    }
    .settings-panel{
        display: initial;
        width: 30vw;
        transition: width, 0.5s;
        overflow: hidden;
        flex-shrink: 0;
        background-color: #505050;
    }
        .panel{
            display: none;
        }
        .panel-open{
            display: block;
            padding: 12px 0 0 0px;
        }
        .header-container h2{
            font-weight: bold;
            color: white;
            white-space: nowrap;
            width: 30vw;
            text-align: center;
        }
        .panel-content-container{
            display: grid;
            height: 30vh;
            padding-left: 40px;
        }
            .button-container{
                display: flex;
                align-items: center;
                justify-content: left;
                width: 20vw;
                height: 5vh;
            }
                .button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    border: none;
                    border-radius: 15px;
                    color: black;
                    background-color: white;
                    font-weight: bold;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .reset-button{
                    color: #961908;
                }
                .button:hover{
                    cursor: pointer;
                    background-color: #fc815b;
                    color: white;
                }
                .button:disabled{
                    background-color: rgba(155, 155, 155, 0.6);
                }
            .input-container{
                display: flex;
                align-items: center;
                justify-content: left;
                width: 25vw;
                height: 5vh;
            }
                .input{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    border-radius: 15px;
                    border: none;
                    font-size: 12px;
                    height: 30px;
                    padding-left: 10px;
                    margin-right: 10px;
                }
                .input:hover{
                    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
                }
                .input::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            .slider-container{
               display: flex;
               align-items: center;
               justify-content: left;
               width: 15vw;
               height: 2vw;
            }
                .slider-container p{
                    width: 10vw;
                    color: white;
                    font-weight: bold;
                    margin-left: 10px;
                }
                .slider{
                    -webkit-appearance: none; 
                    appearance: none;
                    width: 10vw; 
                    height: 10px; 
                    border-radius: 5px;
                    background: white;
                    outline: none; 
                }
                .slider::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%; 
                    background: #fc815b;
                    cursor: pointer;
                  }
                .slider:hover{
                    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
                }
                .slider::-webkit-slider-thumb:hover{
                    background-color: #e27453;
                }
            .info{
                color: white;
                font-weight: bold;
                margin-left: 10px;
            }