*{
   box-sizing: border-box;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: normal;
}
body{
    background-color: #f2e9e4;
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #4a4e69;
    min-width: 100vh;
    min-height: 5vh;
    display: flex;
    z-index: 1;
}
    .badge{
        margin: 10px 0 10px 15px;
        min-width: 10vw;
        color: #22223b;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        user-select: none;
    }
    .navbar-buttons{
        display: flex;
        justify-content: space-around;
        min-width: 30vw;
    }
    .navbar-button-container{
        padding: 10px 0 10px 0;
    }
    .navbar-buttons button{
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 5px;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
        border-radius: 5px;
    }
    .dropdown-content button{
        color: white;
        padding: 12px 16px;
        display: block;
        font-size: 13px;
        width: 160px;
        text-align: left;
    }
    .dropdown-content button:hover{
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.25);
    }
    .dropdown:hover{
        background-color: rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
    .dropdown{
        position: relative;
        display: inline-block;
    }
.content-container{
    display: flex;
    min-height: 95vh;
}
    .visualization{
        flex-grow: 1;
        overflow-y: auto;
    }
    .vis{
        display: none;
        height: 95vh;
    }
    .vis-open{
        display: block;
    }
    .settings-panel-toggle-container{
        display: flex;
        min-height: 95vh;
        width: 40px;
        align-items: center;
    }
    .settings-panel-toggle{
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        display: grid;
        place-items: center;
        border-radius: 5px 0 0 5px;
        border: none;
        outline: none;
        background-color: #c9ada7;
        cursor: pointer;
        color: white;
    }
    .settings-panel-toggle:hover{
        color: black;
    }
    .sp-icon-open{
        display: none;
    }
    .settings-panel-closed .settings-panel{
        display: none;
    }
    .settings-panel-closed .sp-icon-open{
        display: initial;
    }
    .settings-panel-closed .sp-icon-close{
        display: none;
    }
    .settings-panel{
        display: initial;
        width: 30vw;
        flex-shrink: 0;
        background-color: #c9ada7;
    }
        .panel{
            display: none;
        }
        .panel-open{
            display: block;
            padding: 12px 0 0 0px;
        }
        .header-container{
            display: flex;
            justify-content: center;
        }
            .header-container h2{
                font-weight: bold;
                color: #22223b;
            }
        .panel-content-container{
            display: grid;
            height: 25vh;
            padding-left: 40px;
        }
            .button-container{
                display: flex;
                align-items: center;
                justify-content: left;
                width: 20vw;
                height: 5vh;
            }
                .button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    border: none;
                    border-radius: 15px;
                    color: #22223b;
                    font-weight: bold;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .reset-button{
                    color: #6b1105;
                }
                .button:hover{
                    cursor: pointer;
                    background-color: rgba(255, 255, 255, 0.6);
                }
            .input-container{
                display: flex;
                align-items: center;
                justify-content: left;
                width: 25vw;
                height: 5vh;
            }
                .input{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    border-radius: 15px;
                    border: none;
                    height: 30px;
                    padding-left: 10px;
                    margin-right: 10px;
                }
            .info{
                color: #22223b;
                font-weight: bold;
                margin-left: 10px;
            }